<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>455290399820-ik7n8or1a9i4uk0f4ps63ul0vfr465bb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455290399820-ik7n8or1a9i4uk0f4ps63ul0vfr465bb</string>
	<key>API_KEY</key>
	<string>AIzaSyA5B3_B2PPsKaAHFiVw29RCfIA5Ad1uSVk</string>
	<key>GCM_SENDER_ID</key>
	<string>455290399820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tqniait.fitness</string>
	<key>PROJECT_ID</key>
	<string>fitness-ea7f7</string>
	<key>STORAGE_BUCKET</key>
	<string>fitness-ea7f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455290399820:ios:40b51d03ddd13fbe4198e9</string>
</dict>
</plist>